%h2
  Balance:
  - if @responsable
    = @responsable.split('@').first
    tiene
  - if @grupo
    en
    = @grupo
  - if @moneda
    en
    = @moneda
  - if @created_at
    el
    = @created_at

%table.table.table-condensed.table-striped
  %thead
    %tr
      %th Responsable
      - skip_columns = []
      - @balance_responsables.columns.each_with_index do |b, i|
        - if b.data.select { |d| d.is_a?(Dinero) && d.cantidad != 0 }.empty?
          - skip_columns << i
          - next
        %th
          %a{href: url(:index, params.merge('moneda' => b.header))}= b.header

  %tfoot
    %tr
      %th{colspan: 1 + @balance_responsables.column_headers.count }

  %tbody
    - @balance_responsables.rows.each do |b|
      - nombre = b.header.split('@').first
      %tr
        %td
          %img{ gravatar_attrs(b.header, size: 25, secure: true) }
          %a{href: url_for(:index, params.merge('responsable' => nombre))}
            = nombre
        - b.data.each_with_index do |c, i|
          - next if skip_columns.include? i
          - if c
            %td= Money.thousands_separator c.cantidad
          - else
            %td -

