.list-group-item
  .row
    .col-sm-4
      %img.pull-left{ gravatar_attrs(dinero.responsable,
        size: 70, title: dinero.nombre, secure: true ) }
      %h4= dinero.dinero.format
      %p
        %a{href: url(:index, params.merge('grupo' => dinero.grupo))}= dinero.grupo
        \/
        = dinero.nombre
    .col-sm-8
      %p= dinero.comentario
      %p= dinero.created_at.strftime('%F')
