.media
  .media-left
    %a{href: '#'}
      %img.media-object{ gravatar_attrs(dinero.responsable,
                                        size: 70,
                                        title: dinero.nombre,
                                        secure: request.secure? ) }
  .media-body
    .row
      %h4.col-md-2.col-md-offset-1.media-heading= dinero.dinero.format
      %p= dinero.grupo
      %blockquote.col-md-4
        %p= dinero.comentario
        %footer
          %cite
            = dinero.nombre
            = ', '
            = dinero.created_at
