-# encoding: utf-8
%h2
  Movimientos del tesoro
  - if @responsable
    hechos por
    = @responsable
  - if @grupo
    en
    = @grupo
  - if @moneda
    en
    = @moneda
  - if @created_at
    el
    = @created_at

= paginate @dineros
.panel.panel-default
  .list-group
    -@dineros.each do |dinero|
      = partial 'dinero/ficha', locals: { dinero: dinero }
