-# encoding: utf-8
%p.pull-right
  %small
    %a{class: 'label label-info', href: 'http://repo.hackcoop.com.ar/dineros.git/'} código fuente
.hero-unit
  -if @total > 0
    %h1= "$#{@total}"
  -elsif @total < 0
    %h1= "$#{@total}"
    %p Estamos cagadas!
  -else
    %h1 No hay un choto
  .media
    -@quien_los_tiene.each do |quien|
      %img{ gravatar_attrs(quien.responsable, :size => 25),
            :title => %"#{quien.responsable.split("@")[0]} tiene $#{quien.subtotal}" }

= render 'dinero/cargar'

.row
  .span6
    -@dineros.reverse_each do |dinero|
      .media
        %a{:class => 'pull-left', :href => '#'}
          %img{ gravatar_attrs(dinero.responsable,
                               :size => 70,
                               :title => dinero.responsable.split("@")[0] ) }
        .media-body
          %h4.media-heading= "$#{dinero.cantidad / 100.0}"
          %blockquote
            %p= dinero.comentario
            %small
              %cite= dinero.responsable.split("@")[0]
