-# encoding: utf-8
.hero-unit
  -if @total > 0
    %h1= "$#{@total}"
  -elsif @total < 0
    %h1= "$#{@total}"
    %p Estamos cagados!
  -else
    %h1 No hay un choto
  %p.pull-right
    %a.btn.btn-primary{:href => url(:dinero, :cargar)} Yo tengo algo!

.row
  .span6
    -@dineros.reverse.each do |dinero|
      .media
        %a{:class => 'pull-left', :href => '#'}
          %img{ gravatar_attrs(dinero.responsable, :size => 70) }
        .media-body
          %h4= "$#{dinero.cantidad}"
          %p= dinero.comentario
