-# encoding: utf-8
.hero-unit
  -if @total > 0
    %h1= "$#{@total}"
  -elsif @total < 0
    %h1= "$#{@total}"
    %p Estamos cagados!
  -else
    %h1 No hay un choto
  %p.pull-right
    %a.btn.btn-primary{:href => url(:dinero, :cargar)} Yo tengo algo!
  .media
    -@quien_los_tiene.each do |quien|
      %img{ gravatar_attrs(quien.responsable, :size => 25),
            :title => %"#{quien.responsable} tiene $#{quien.subtotal}" }

.row
  .span6
    -@dineros.reverse_each do |dinero|
      .media
        %a{:class => 'pull-left', :href => '#'}
          %img{ gravatar_attrs(dinero.responsable,
                               :size => 70,
                               :title => dinero.responsable ) }
        .media-body
          %h4.media-heading= "$#{dinero.cantidad / 100.0}"
          %blockquote
            %p= dinero.comentario
            %small
              %cite= dinero.responsable
