-# encoding: utf-8
.hero-unit
  - if @total > 0
    - if @monedas.count == 1
      %h1= @totales.first.format
    - else
      %h1 Tenemos
      %ul.inline
        - @totales.each do |total|
          %li= total.format
  - elsif @total < 0
    %h1 Estamos cagadas!
  - else
    %h1 No hay un choto
  .media
    -@quien_los_tiene.each do |quien|
      %img{ gravatar_attrs(quien.responsable, size: 25),
            title: "#{quien.nombre} tiene #{quien.subtotal.format}" }

= partial 'dinero/cargar'
= paginate @dineros

.row
  .span6
    -@dineros.each do |dinero|
      .media
        %a{class: 'pull-left', href: '#'}
          %img{ gravatar_attrs(dinero.responsable,
                               size: 70,
                               title: dinero.nombre ) }
        .media-body
          %h4.media-heading= dinero.dinero.format
          %blockquote
            %p= dinero.comentario
            %small
              %cite= dinero.nombre
