Hola

Este es un recibo por los dineros que agregaste en
= ENV['FQDN']

= dineros.first.comentario

Estos fueron los movimientos realizados:

- dineros.each do |dinero|
  = "#{dinero.dinero.format}\t#{dinero.nombre}"

Si no tenes idea de que se trata esto, usa este link de desconfirmacion
para eliminarlos.  De lo contrario podes ignorar este mensaje.

= url_para_desconfirmar
