Hola

= "Este es un recibo por los dineros que agregaste en"
= "#{ENV['FQDN']} por #{dinero.dinero.format}"

= dinero.comentario

- if dinero.asociados
  Estos dineros tienen estos otros asociados:
  - dinero.asociados.each do |a|
    = "* #{a.dinero.format} (#{a.nombre})"

Si no tenes idea de que se trata esto, usa este link de
desconfirmacion.  De lo contrario podes ignorar este mensaje.

= url_para_desconfirmar

(La desconfirmacion elimina los dineros asociados tambien.)
